<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form style="padding: 20%;">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload image</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Upload</button>
                </form>
            </div>
            <div class="col">
                <img src="" alt="" class="img-thumbnail" id="preview">
            </div>
        </div>
        <div class="p-3 mb-2 bg-success text-white" style="display:none;"></div>
</body>
<script>
    $('input[type=file]').change(() => {
        const fileReader = new FileReader()
        fileReader.onload = (e) => {
            $('#preview').attr('src', e.target.result)
        }
        fileReader.readAsDataURL($('input[type=file]').prop('files')[0])
    })
    $('form').submit(e => {
        e.preventDefault()
        $('p-3').css({
            display: 'none'
        }).removeClass('.bg-success').removeClass('.bg-danger')

        if ($('input[type=file]').prop('files')[0]) {
            const formData = new FormData()
            formData.append('imageFile', $('input[type=file]').prop('files')[0])

            $.ajax({
                url: '/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: (data) => {
                    $('.p-3').addClass('bg-success').removeClass('bg-danger').text(data).css({
                        display: 'block'
                    })
                },
                error: (err) => {
                    console.log(err)
                    $('.p-3').addClass('bg-danger').removeClass('bg-success').text(err.responseText).css({
                        display: 'block'
                    })
                }
            })
        } else {
            $('.bg-danger').text('No file selected').css({
                display: 'block'
            })
        }
    })
</script>

</html>